.about {
    background-color: $second-bg;
    min-height: 600px;
    @include flexVer;
}   

.about--title {
    position: relative;
    margin-top: 10rem;

    @include media(">phone", "<=tablet") {
        flex-direction: column;
        margin-top: 8rem;
    }

    .redLine {
        position: absolute;
        width: 5rem;
        border-bottom: 3px solid $red;
        top: 0rem;
        left: calc((100% - 5rem) / 2);
    }

    h2 {
        font-size: 6rem;
        font-family: $heading-font;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        letter-spacing: 5px;

        @include media(">phone", "<=tablet") {
            font-size: 4rem;
            margin-bottom: 0rem;
        }
    }

    .decor-circleRight {
        display: none;
        position: absolute;
        top: -5vw;
        right: -30vw;
        width: 4rem;
        animation: spin 10s linear infinite;
        spin {
            100% {rotate: (360deg);};
        };

        @include media(">phone", "<=tablet") {
            top: -6vw;
            right: -25vw;
        };
    };
}


.aboutMeText.wrapper{
    margin: 0;
    padding: 0;
    font-size: 3.6rem;
    line-height: 150%;
    margin-top: 4rem;
    margin-bottom: 8rem;
    font-weight: 400;

    @include media(">phone", "<=tablet") {
    font-size: 2.6rem;
    line-height: 3.8rem;
    }


    .underline {
        position: relative;
        
        &::after {
            content: "";
            width: 100%;
            position: absolute;
            display: inline-block;
            border-bottom: 2px solid red;
            bottom: 0.5rem;
            left: 0;
        }
    }
}

.webDev {
    color: #EA593E;
}

.rbc {
    color: #0057B4;
}
.bns {
    color: #EC000F;
}
.td {
    color: #1BB14C;
}


