.about {
    background-color: $second-bg;
    // min-height: 600px;
    @include flexVer;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    width: 82%;
}   

.about--title {
    position: relative;
    margin-top: 12rem;
    margin: 0 auto;

    @include media(">phone", "<=tablet") {
        flex-direction: column;
        margin-top: 8rem;
    }

    .redLine {
        position: absolute;
        width: 5rem;
        border-bottom: 3px solid $red;
        top: 0rem;
        left: calc((100% - 5rem) / 2);
    }

    h2 {
        @include sectionHeaderStyles;
    }
}

.about {
    font-size: $pFontSize;
    line-height: 150%;

    p {
        font-weight: 400;
        margin-bottom: 3rem;

        a {
            text-decoration: underline;
            color: cornflowerblue;
        }
    }

    h3 {
        margin-bottom: 2rem;
    }

    ul {
        list-style: none;
        margin-bottom: 12rem;

        @include media(">phone", "<=tablet") {
            margin-bottom: 6rem;
        }

    }

    @include media(">phone", "<=tablet") {
        font-size: 2rem;
        line-height: 150%;
    }
}

.webDev {
    color: #EA593E;
}

.rbc {
    color: #0057B4;
}
.bns {
    color: #EC000F;
}
.td {
    color: #1BB14C;
}


