.burger-menu__button {
 position: fixed;
 top: 1rem;
 right: 2rem;
 z-index: 30;
 width: 80px;
 height: 80px;
 border-radius: 50%;
//  background-color: #2a2a2a;
 transition: 0.4s;

 @include media(">=phone", "<=tablet") {
 top: 0.1rem;
 right: 1.9rem;
 }
}

.burger-menu__button:hover .burger-menu__lines {
 filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
 position: absolute;
 width: 40px;
 height: 6px;
 background-color: #fff;

}

.burger-menu__lines {
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
 content: "";
 top: -12px;
}

.burger-menu__lines::after {
 content: "";
 top: 12px;
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
 background-color: transparent;
}


.burger-menu_active .burger-menu__lines::before {
 top: 0;
 transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
 top: 0;
 transform: rotate(-45deg);
}

.burger-menu__nav {
 padding-top: 30px;
 position: fixed;
 z-index: 20;
 display: flex;
 flex-flow: column;
 height: 100%;
 background-color: #1c1e57;
 overflow-y: auto;
 left: -100vw;
 transition: 0.4s ease;

 a {
    font-family: "Playfair Display", serif;
 }
}

.burger-menu_active .burger-menu__nav {
 left: 0;
 
 right: 0;
}

.burger-menu__link {
 padding: 20px;
 font-family: sans-serif;
 font-size: 32px;
 text-decoration: none;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-weight: bold;
 color: #fff;
    // margin: 0 auto;
    width: 100vw;
 text-align: center;
}

.burger-menu__link :hover {
 filter: brightness(0.7);
}

.burger-menu__overlay {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
 display: block;

}


.header-navig {
    @include media(">phone", "<=tablet") {
        display: none !important;
    }
}

.burger-menu {
    @include media(">tablet") {
        opacity: 0 !important;
    }
}
.burger-menu {
    @include media(">phone", "<=tablet") {
        opacity: 1 !important;
    }
}