$header-bg: rgb(12, 12, 12);
$font-clr-08: rgba(245, 245, 245, 0.8);
$font-clr-1: rgba(245, 245, 245, 1);
$second-bg: rgb(12, 12, 12);
$red: rgba(100, 64, 236, 0.8);
$red1: rgba(100, 64, 236, 1);
$headerSize: 5rem;
$pFontSize: 2.6rem;
$headerWeight: 400;
$heading-font: "Khula", sans-serif;
$body-font: "Nunito Sans", sans-serif;
$wrapper-width: 82%;

@mixin bor {
    border: 1px solid red
}

@mixin flexHor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexVer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button {
    width: 15rem;
    height: 6rem;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: transparent;
    color: $font-clr-1;
    font-family: $body-font;
}


@mixin sectionHeaderStyles {
    text-align: center;
    font-size: $headerSize;
    font-family: $heading-font;
    font-weight: $headerWeight;
    margin-top: 2rem;
    margin-bottom: 7rem;

    @include media("<tablet"){            
        font-size: 3rem;
        margin-bottom: 4rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $font-clr-08;
}


html {
    font-size: 62.5%;
    font-family: $body-font;
    background-color: $header-bg;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: $font-clr-08;
}

.wrapper {
    width: $wrapper-width;
    margin: 0 auto;
    max-width: 1140px;
}

.hire-button {
    @include button;
    border: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: $red;
    height: 50px !important;
    cursor: pointer;

    a {
        color: $font-clr-1;
    }
    
    &:hover {
        box-shadow: 0px 0px 15px $red1;
        background-color: $red1;
    }

    @include media(">phone", "<=tablet") {
    height: 40px !important;
    }
}

// nav bar styles
.nav-wrapper {
    background-color: $header-bg;
    position: fixed;
    width: 100%;
    height: 12rem;
    top: 0px;
    z-index: 10;
}


@include media(">=phone", "<=tablet") {
    .nav-wrapper {
        height: 8rem !important;
    }
    .header--nav {
        height: 8rem !important;
    }

    .header-content {
        margin-top: 8rem !important;
    }
}

.header--nav {
    height: 12rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-hire {
        @include media(">phone", "<=tablet") {
            // display: none;
        }
    }
    .header-navig {
        padding-left: 0;
        // width: 80%;
        display: flex;
        justify-content: space-between;
        
        .header--nav__a {
            margin-left: 1rem;
            text-transform: uppercase;
            border: 1px solid transparent;
            padding-left: 2rem;
            padding-right: 2rem;
            height: 50px;
            font-size: 1.8rem;
            // color: $font-clr-08;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.header--nav__a:hover {
    color: $font-clr-1;
    transition: all 0.4s ease;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid white !important;
}

.header--nav__a:active {
    padding-top: 7px;
    transition: none;
}

//styles under nav bar
.header-content {
    z-index: -1;
    margin-top: 12rem;
    background-color: $header-bg;

    .header-content__container {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: "container-left container-right";
        overflow: hidden;
        margin-bottom: 12rem;

        @include media(">=phone", "<=tablet") {
            margin-bottom: 0;
        }

        .container-left {
            grid-area: "container-left";
            height: 100%;
        }

        .container-right {
            grid-area: "container-right";
            margin-left: 1rem;

            @include media(">=phone", "<=tablet") {
                margin-left: 0;
            }
        }
    }
}



.container-right .nikitaImg {
    display: block;
    width: 420px;
    border-radius: 5px;
    

    @include media(">=phone", "<=tablet") {
        max-width: 380px;
        width: 80%;
        margin-bottom: 8rem;
    }
}

//I am Nikita styles
.iAmNikita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    z-index: 3;
    position: relative;
    padding-top: 9rem;

    @include media(">phone", "<=tablet") {
        align-items: center;
        padding-top: 5rem;
    }

    .Iam {
        font-size: 110px;
        font-weight: 700;
        color: black;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        margin: 0;
    }

    .name {
        font-family: $heading-font;
        font-size: 60px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 4rem;
        letter-spacing: 5px;
        padding-right: 4rem;

        &__emodji {
            white-space: nowrap;
        }

        @include media(">phone", "<=tablet") {
            text-align: center;
            padding-right: 0;
        }
    }

    .frontEnd {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        padding: 0;
        height: 2.5rem;
    }

}

.socialLinks {
    list-style: none;
    @include flexHor;

    margin-top: 6rem;
    margin-bottom: 0;
    padding-left: 0;
    justify-content: space-between;
    width: 235px;
    
    li {
        a {
            width: 4rem;
            color: rgba(255, 255, 255, 0.8);
            font-size: 4rem;
        }
    }
    @include media (">phone", "<=tablet") {
        margin-bottom: 5rem;
    }
}

.socialLinks li {
    @include media(">phone", "<=tablet") {
        margin-top: 1rem;
    }

    a {
        @include media(">phone", "<=tablet") {
            font-size: 3.8rem;
        }
    }
}

.iAmNikita .socialLinks {
    @include media(">phone", "<=tablet") {
        margin-bottom: 12rem;
    }
}

.hoverGlow {
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.header-content__container {
    @include media(">phone", "<=tablet") {

        display: flex !important;
        flex-direction: column !important;
    }

    .container-left {
        @include media(">phone", "<=tablet") {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .container-right {
        @include media(">phone", "<=tablet") {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.header-navig {
    @include media(">phone", "<=tablet") {
        display: none !important;
    }
}

