@mixin bor {
    border: 1px solid red
}

@mixin flexHor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexVer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button {
    width: 15rem;
    height: 4rem;
    border-radius: 5px;
    border: 2px solid $red;
    background-color: transparent;
    color: white;
    font-family: $body-font;
}

$header-bg: #030724;
$font-clr: #ffffff;
$second-bg: #050A30;
$red: #e51d46;

$heading-font: "Playfair Display", serif;
$body-font: "Nunito Sans", sans-serif;

$wrapper-width: 82%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: $body-font;
    background-color: $header-bg;
    scroll-behavior: smooth;
}

body {
    color: $font-clr;
    margin: 0;
    padding: 0;
    font-size: 17px;
    overflow-x: hidden;
    // overflow-y: hidden;
}

a {
    text-decoration: none;
    color: $font-clr;
}

.wrapper {
    width: $wrapper-width;
    margin: 0 auto;
    max-width: 1080px;

}

.hire-button {
    @include button;
    margin-bottom: 0.5rem;
    
    &:hover {
        background-color: $red;
    } 

    // @include media(">=phone", "<=tablet") {
    //     // margin-top: -2rem;
    // }
}

// nav bar styles
.nav-wrapper {
    background-color: $header-bg;
    position: fixed;
    width: 100%;
    height: 12rem;

    top: 0px;
    z-index: 10;

    .wrapper {
        width: 82%;
    }
}


@include media(">=phone", "<=tablet") {
    .nav-wrapper {
        height: 8rem !important;
    }
    .header--nav {
        height: 8rem !important;
    }

    .header-content {
        margin-top: 8rem !important;
    }
}

.header--nav {
    height: 12rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // display: grid;
    // grid-template-columns: 3fr 5fr;
    // grid-template-areas: "header-hire header-nav";
    // grid-template-rows:  2fr;
    // align-items: center;
    
    .header-hire {
        // grid-area: header-hire;
        
    }
    .header-navig {
        // grid-area: header-nav;
        padding-left: 0;
        width: 60%;
        display: flex;
        justify-content: space-between;

        // display: grid;
        // grid-template-columns: repeat(5, auto);
        
        .header--nav__a {
            // justify-self: right;
            margin-left: 2rem;
            text-transform: uppercase;
            border: 2px solid transparent;
            padding-bottom: 0.5rem;
        }
    }
}

// .header--nav__a {
//     position: relative;

//     &:hover:after {
//         content: '';
//         position: absolute;
//         border-bottom: 2px solid $red;
//         bottom: 0;
//         right: 0;
//         width: 100%;
//         margin-bottom: -0.5rem;
//     }
// }
.header--nav__a:hover,
.header--nav__a:active {
    border-bottom: 2px solid $red !important;
    transition: all 0.4s ease
}

//styles under nav bar
.header-content {
    z-index: -1;
    margin-top: 12rem;
    background-color: $header-bg;

    .header-content__container {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: "container-left container-right";
        overflow: hidden;

        .container-left {
            grid-area: "container-left";
            height: 100%;
        }

        .container-right {
            grid-area: "container-right";

        }
    }
}



.container-right .nikitaImg {
    display: block;
    width: 540px;
    border-radius: 5px;

    @include media(">=phone", "<=tablet") {
        width: 100%;
    }
}

//I am Nikita styles
.decor-triangle,
.decor-circle,
.decor-dotsLeft,
.decor-circleRight {
    position: absolute;
    z-index: 1;
}

.decor-triangle {
    top: 1rem;
    left: 2rem;
    // top: 13rem;
    // left: 40px;
    width: 3rem;
    animation: spin 15s linear infinite;
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}

.decor-circle {
    top: 10rem;
    left: 0rem;
    // top: 26vh;
    // left: 40px;
    width: 290px;
    z-index: -1;

    @include media(">phone", "<=tablet") {
        top: 15vh;
        left: calc((100% - 250px) / 2);
        width: 250px;
    }

}
.decor-dotsLeft {
    display: none;
    bottom: -16vh;
    left: 0;
    animation: jump 3s ease-in-out infinite;
    @keyframes jump {
        0% {
            bottom: -18vh;
        }
        50% {
            bottom: -14vh;
        }
        100% {
            bottom: -18vh
        }
    }




    @include media(">phone", "<=tablet") {
        bottom: -17vh;
        left: 0;
        animation: jump 3s ease-in-out infinite;
        @keyframes jump {
            0% {
                bottom: -17vh;
            }
            50% {
                bottom: -13vh;
            }
            100% {
                bottom: -17vh
            }
        }
    }


    @include media(">=tablet") {
        bottom: -16vh !important;
        left: 0 !important;
        @keyframes jump {
            0% {
                bottom: -16vh !important;
            }
            50% {
                bottom: -12vh !important;
            }
            100% {
                bottom: -16vh !important;
            }
        }
    }

}


// .decor-circleRight {
//     position: absolute;
//     bottom: -5rem;
//     right: 2rem;
//     width: 4rem;
//     animation: spin 10s linear infinite;
//     spin {
//         100% {rotate: (360deg);};
//     };

//     @include media(">phone", "<=tablet") {
//         bottom: 5rem;
//         right: 0rem;
//     };
// }

.iAmNikita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    z-index: 3;
    position: relative;
    padding-top: 9rem;

    @include media(">phone", "<=tablet") {
        align-items: center;
    }

    .Iam {
        font-size: 110px;
        font-weight: 700;
        color: black;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        margin: 0;
    }

    .name {
        font-family: $heading-font;
        font-size: 60px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 3rem;
        letter-spacing: 5px;

    @include media(">phone", "<=tablet") {
        text-align: center;
    }
    }

    .frontEnd {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        padding: 0;
        height: 2.5rem;
    }

}

.iAmNikita .socialLinks {
    list-style: none;
    // display: flex;
    @include flexHor;

    margin-top: 6rem;
    margin-bottom: 0;
    padding-left: 0;
    justify-content: space-between;
    width: 290px;
    
    li {
        // padding: 1rem;
        // margin-right: 4rem;
        
        a {
            width: 4rem;
            color: white;
            font-size: 4rem;
        }
    }
}

.iAmNikita .socialLinks li {
    @include media(">phone", "<=tablet") {
        // margin-right: 2rem;
        margin-top: 1rem;
    }

    a {
        @include media(">phone", "<=tablet") {
            font-size: 3.8rem;
        }
    }
}


.header-content__container {
    @include media(">phone", "<=tablet") {

        display: flex !important;
        flex-direction: column !important;
    }

    .container-left {
        @include media(">phone", "<=tablet") {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8rem;
        }
    }
    .container-right {
        @include media(">phone", "<=tablet") {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.header-navig {
    @include media(">phone", "<=tablet") {
        display: none !important;
    }
}

