.mobileProjects {
    // min-height: 600px;
    background-color: $second-bg;
    
    .wrapper {
        @include flexVer;
        width: $wrapper-width;
        margin: 0 auto;
        max-width: 1140px;
    }
}

.mobileProjects--title {
    width: 100%;
    position: relative;
    margin-top: 8rem;

    .redLine {
        position: absolute;
        width: 5rem;
        border-bottom: 3px solid $red;
        top: 0rem;
        left: calc((100% - 5rem) / 2);

    }
    
    h2 {
        @include sectionHeaderStyles;
    }
}



.mobileProjects--containerForAll {
    @include flexVer;
    width: 100%;
}

.mobileProjects--projectBox {
    max-width: 900px;
    margin-bottom: 12rem;

    &__imageBox {
        margin: 0 auto;
        @include flexHor;
        margin-bottom: 2rem;

        img {
            display: block;
            width: 100%;
            // filter: drop-shadow(1px 5px 5px grey);
        }
    }

    &__projectName h3 {
        text-align: center;
        font-size: 3.2rem;
        margin-bottom: 2rem;
        padding-top: 2rem;

        @include media(">phone", "<=tablet") {
            font-size: 2.3rem;
        }
    }

    &__description {
        text-align: left;
        font-size: 2.5rem;
        margin-bottom: 4rem;
        line-height: 150%;

        p {
            margin-bottom: 2rem;
        }
        h4 {
            text-align: center;
            padding-top: 3rem;
        }
        ul {
            padding-left: 3rem;
        }
        p:last-of-type {
            margin-top: 2rem;
        }

        @include media(">phone", "<=tablet") {
            font-size: 2rem;
        }
    }

    &__stack {
        @include flexHor;
        margin-bottom: 4rem;
    }

    &__buttons {
        @include flexHor;

        a:first-child {
            margin-right: 2rem;
            border: 2px solid transparent;
        }
        a {
            display: inline-block;
            max-width: 35rem;
            width: 35%;
            height: 6rem;
            border-radius: 5px;
            border: 2px solid $red;
            background-color: transparent;
            color: whitesmoke;
            font-weight: 600;
            font-family: $body-font;
            @include flexHor;
            flex: 1 2 auto;

            @include media("<tablet") {
                height: 5rem;
            }
        }
    }
}

.mobileProjects--projectBox__stack img {
    display: block;
    min-width: 3rem;
    max-width: 8rem;
    width: 100%;
    margin: 0 0.5rem;
    flex: 1 2 auto;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    
    @include media(">tablet") {
        margin: 0rem 2rem;
    }
}

// .redBtn {
//     background-color: $red !important;
// }

.hoverPurple {
    background-color: $red !important;
    &:hover {
        // border: 2px solid white;
        color: #f5f5f5 !important;
        box-shadow: 0px 0px 15px rgba(100, 64, 236, 1);
        background-color: rgba(100, 64, 236, 1) !important;
    }
}

.hoverWhite {
    &:hover {
        background-color: whitesmoke;
        color: $red !important;
        box-shadow: 0px 0px 15px whitesmoke;
        border: none;
    }
}

.pushEffect {
    &:active {
        transform: translateY(2px) !important;
        transition: none !important;
    }
}