.projects {
    min-height: 600px;
    // height: 100vh;
    background-color: $second-bg;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-bottom: 10rem;
    }
}

.projects--title {
    position: relative;
    @include bor;
    margin-top: 10rem;

    .redLine {
        position: absolute;
        width: 5rem;
        text-align: center;
        border-bottom: 3px solid $red;
        top: 0rem;
        left: calc((100% - 5rem) / 2);
    }

    h2 {
        font-size: 6rem;
        font-family: $heading-font;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
}

.projects--container {
    width: 100%;
    @include bor;
    height: 60rem;
    @include flexHor;

    &__left {
        flex: 1 0 45%;
        @include bor;
        margin-right: 1rem;

    }
    
    &__right {
        flex: 1 0 45%;
        @include bor;
        margin-left: 1rem;
    }
}

.projectBox {
    height: 550px;
    width: 550px;
    position: relative;
    background-image: url(../assets/budgetCalc.png);
    background-size: contain;
    background-repeat: no-repeat;

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 0%;
        width: 100%;
        bottom: 0;
        transition: height 0.2s ease-out;
        background-image: linear-gradient(to bottom, transparent 10%, $red 80%);
        // opacity: 1;
    }
    
    &:hover:before {
        height: 100%;
    }
    &:hover .projectBox__button1 {
        opacity: 1;

        &:hover {
            background-color: white;
            color: $red;
        }
    }
    &:hover .projectBox__button2 {
        opacity: 1;

        &:hover {
            background-color: white;
            color: $red;
        }
    }
    &:hover .projectBox__descript {
        opacity: 1;
    }


    img {
        display: block;
        width: 100%;
    } 
}

.projectName {
    @include bor;
    position: absolute;
    width: 28rem;
    bottom: 40%;
    left: calc((100% - 28rem) / 2);
    opacity: 1;
}

.whiteLine {
    position: absolute;
    width: 35rem;
    border-bottom: 1px solid white;
    bottom: 40%;
    left: calc((100% - 35rem) / 2);
}


.projectStack {
    position: absolute;
    width: 27rem;
    bottom: 30%;
    left: calc((100% - 27rem) / 2);
    opacity: 1;
}

.projectBox__descript {
    color: white;
    position: absolute;
    bottom: 20%;
    opacity: 1;
    left: 25%;
}

.projectBox__button1,
.projectBox__button2 {
    position: absolute;
    bottom: 6%;
    @include button;
    border: 1px solid white;
    opacity: 1;
}

.projectBox__button1 {
    left: 15%;
}

.projectBox__button2 {
    right: 15%;
}





// REMOVE!!!!!!!!
.next {
    height: 60rem;
}