.stackSection {
    min-height: 600px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.stackSection--title {
    position: relative;
    margin-top: 10rem;

    @include media(">phone", "<=tablet") {
        flex-direction: column;
        margin-top: 8rem;
    }

    .redLine {
        position: absolute;
        width: 5rem;
        border-bottom: 3px solid $red;
        top: 0rem;
        left: calc((100% - 5rem) / 2);
    }

    h2 {
        font-size: 6rem;
        font-family: $heading-font;
        margin: 0 auto;
        margin-bottom: 5rem;
        margin-top: 1rem;
        letter-spacing: 5px;
        @include media(">phone", "<=tablet") {
            font-size: 4rem;
            margin-bottom: 4rem;
        }
    }
}

.stackSection--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 7rem;

    @include media(">phone", "<=tablet") {
        flex-direction: column;
        margin-bottom: 5rem;
        max-width: 600px;
    }

    .skillList-left {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 60%;
        padding: 0;

        @include media(">phone", "<=tablet") {
            justify-content: space-evenly;
            width: 100%;
        }

        li {
            font-size: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 0 33%;
        }

        li p {
            font-size: 3rem;
            margin: 0 auto;
            margin-top: 1rem;
            text-align: center;

            @include media(">phone", "<=tablet") {
                font-size: 2rem;
            }
        }
    }

    .skillList-firstRow,
    .skillList-secondRow,
    .skillList-thirdRow,
    .skillList-fourthRow,
    .skillList-fifthRow {
        padding-right: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include media(">phone", "<=tablet") {
            padding: 0;
            justify-content: space-around;
                    padding-right: 0rem;
        }
    }
    
    .skillList-firstRow,
    .skillList-secondRow,
    .skillList-thirdRow,
    .skillList-fourthRow {
        margin-bottom: 5rem;

        @include media(">phone", "<=tablet") {
            margin-bottom: 3rem;
        }
    }

    .skillList-right {
        flex: 1 2 40%;
        display: flex;
        justify-content: flex-end;

        img {
            display: block;
            width: 100%;
        }

        @include media(">phone", "<=tablet") {
            display: none;
        }
    }
}

.skillList-left li img {
    width: 100%;
    display: block;
    width: 10rem;
    height: 10rem;

    @include media(">phone", "<=tablet") {
        width: 8rem;
        height: 8rem;
    }
}

.skillList-left li i:hover,
.skillList-left li img:hover {
    scale: 1.05;
    transition: 0.4s ease;
}


